TODO!!!.txt

week01/task1/.idea
week01/task1/out
week01/task1/.gitignore
week01/task1/untitled.iml

week01/task2/.idea
week01/task2/out
week01/task2/.gitignore
week01/task2/task2.iml

week01/task3/.idea
week01/task3/out
week01/task3/.gitignore
week01/task3/task3.iml

week02/trading121/.idea
week02/trading121/out
week02/trading121/.gitignore
week02/trading121/trading121.iml

week03/Udemy/.idea
week03/Udemy/out
week03/Udemy/.gitignore
week03/Udemy/Udemy.iml


week04/Gym/.idea
week04/Gym/out
week04/Gym/.gitignore
week04/Gym/Gym.iml


week04/FlightScanner/.idea
week04/FlightScanner/out
week04/FlightScanner/.gitignore
week04/FlightScanner/FlightScanner.iml
week04/FlightScanner/lib

week05/SImCity/.idea
week05/SImCity/out
week05/SImCity/.gitignore
week05/SImCity/SImCity.iml

week06/.idea
week06/IntelligentHome/.idea
week06/IntelligentHome/out
week06/IntelligentHome/.gitignore
week06/IntelligentHome/IntelligentHome.iml
week06/IntelligentHome/lib